/* BASIC CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #CCCCCC;
    background-size: cover;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* HEADER SECTION */
   header {
      height: 50px;
  }
  
  .nav-unordered {
      display: flex;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    color:white;
    background-color: #333;

    }
  
    .left {
          background-color:rgb(196, 201, 201);
          float: left;
          width: 10%;
          padding: 10px 10px;
          margin-top: 0%;}

    @media only screen and (max-width:800px) {
      /* For tablets: */
    .main {
          width: 80%;
          padding: 0;}
    .left {
          width: 100%;}
      }
      @media only screen and (max-width:500px) {
      /* For mobile phones: */
            .menu, .main, .left {
                  width: 100%;
            }
      }
      #navlist {
            position:static;
            }

      #navlist li {
            margin: 0;
            padding: 0;
            list-style: none;
            position:static;
            top: 0;
            }

      #navlist li, #navlist a {
            height: 44px;
            display: block;
            }
      li {
            float: right;
      }

      li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 10px;
            text-decoration: none;
      }

      li a:hover {
            background-color:gray;
      }
      .fa {
        padding: 13px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 30%;
        margin-top: 2%;
        }
  .fa:hover {
        opacity: 0.7;
        }

  .fa-facebook {
        background: #373737;
        color: white;
        }
  .fa-instagram {
              background: #373737;
              color: white;
              }
  .fa-youtube {
        background: #373737;
        color: white;
        }     
  
  /* HERO SECTION */
  .hero-section {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      /*background-color: #CCCCCC;*/
      margin-top: 80px;
  }
  
  .hero-text-container {
      min-width: 400px;
      max-width: 600px;
  }
  .hero-p1-tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
  }
  .hero-h1-tag {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 37px;
      color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #62516D, 0 0 5px #62516D;
          
  }

  .hero-h2-tag {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    color: white;
          text-shadow: 1px 1px 2px black, 0 0 25px #62516D, 0 0 5px #62516D;
          
  }
  
  .hero-p2-tag {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      margin-top: 70px;
  }

  .hero-image-container {
      background-image: linear-gradient(#CCCCCC, rgb(124, 124, 124));
      border-radius: 10%;
  }